<%- include ('../partials/head.ejs') %> 
<div id="dataProxy" <% if(entry) { %>
    data-entry="<%= JSON.stringify(entry) %>" 
    <% } %>>
</div> 
<div class="container-fluid">
    <div class="row p-5">
        <div class="">
            <form action="/media/<%= entry.id %>?_method=PUT" method="POST">
             
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="upc">UPC</label>
                        <input id="inpUpc" class="form-control" type="text" name="upc" id="upc" value="<%= lookup.upc %>"/>
                        <input id="btnLookup" class="form-control btn bg-ilib-primary text-ilib-primary" type="submit" value="lookup" formaction="/media/<%= entry.id %>/edit" formmethod="get"/>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="title" id="title" value="<%= lookup.title %>"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="creator_name">Creator Name</label>
                        <input class="form-control" type="text" name="creator_name" id="creator_name" value="<%=lookup.publisher? %>"/>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="creator_type">Creator Type</label>
                        <div class="input-group select-group">
                            <input class="form-control" name="creator_type" id="creator_type" value="<%= entry.creator_type %>" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                            <select id="sel-creator-type" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                            onchange="var textbox = document.getElementById('creator_type'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                            onclick="this.selectedIndex = -1;">
                            <% let opt=''; %>
                            <% if(dropdownData) { %>
                                <% for ( const el of dropdownData.creatorType ) { %>
                                    <option value="<%= el %>"><%= el %></option>
                                    <% }} %>  
                                </select>
                            </div>    
                        </div>
                    </div>
           
                <label class="form-label" for="cover_img">Image Link</label>
                <input class="form-control" type="textarea" name="cover_img" id="cover_img" value="<%= entry.cover_img %>"/>
                <label class="form-label" for="cover_alt">Image Alt Description</label>
                <input class="form-control" type="text" name="cover_alt" id="cover_alt" value="<%= entry.cover_alt %>"/>
                
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label" for="format">Format</label>
                        <div class="input-group select-group">
                            <input class="form-control" name="format" id="format" value="<%= entry.format %>" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                            <select id="sel-format" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                                onchange="var textbox = document.getElementById('format'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                                onclick="this.selectedIndex = -1;">
                                <% opt=''; %>
                                <% if(dropdownData) { %>
                                    <% for ( const el of dropdownData.format ) { %>
                                        <option value="<%= el %>"><%= el %></option>
                                        <% }} %>  
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="location">location</label>
                        <div class="input-group select-group">
                            <input class="form-control" name="location" id="location" value="<%= entry.location %>" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                            <select id="sel-location" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                                onchange="var textbox = document.getElementById('location'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                                onclick="this.selectedIndex = -1;">
                                <% opt=''; %>
                                <% if(dropdownData) { %>
                                    <% for ( const el of dropdownData.location ) { %>
                                        <option value="<%= el %>"><%= el %></option>
                                        <% }} %>  
                            </select>
                        </div>
                    </div>
                </div>
                <label class="form-label" for="tags">Tags<span><small>   (separate with ", ")</small></span> </label>
                <input class="form-control" type="text" name="tags" id="tags" value="<%= entry.tags.join(', ') %>"/>
                <label class="form-label" for="desc">Description</label>
                <input class="form-control" type="textarea" name="desc" id="desc" value="<%= entry.desc %>"/>
                <br>
                <input class=" btn bg-ilib-primary text-ilib-primary" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
<script>
    const inpUpc = document.querySelector('#inpUpc');
    inpUpc.addEventListener('change', (e)=>{
        const btnLookup = document.querySelector('#btnLookup');
        const dataProxy = document.querySelector('#dataProxy');
        const entry = JSON.parse(dataProxy.dataset.entry);
        btnLookup.setAttribute('formaction', `/media/${entry._id}/edit/${e.target.value}`); 
    });
</script>
<%- include ('../partials/foot.ejs') %> 
