<%- include ('../partials/head.ejs') %> 
<h1>Media</h1>
<ul>
    <% for(const i in entries) {%> 
    <li>
        <a href="/media/<%= entries[i].id %>"><%= entries[i].title %></a>
        <a href="/media/<%= entries[i].id %>/edit">Edit</a>
        <form action="/media/<%= entries[i].id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
        </form>
    </li>
    <% } %> 
</ul>
<%- include ('../partials/foot.ejs') %> 