<%- include ('../partials/head.ejs') %> 
<%- include ('../partials/nav.ejs') %>

<div class="container-fluid">
    <div class="row p-5">
        <form action="/media" method="POST">
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label" for="upc">UPC</label>
                    <input class="form-control" type="text" name="upc" id="upc"/>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label" for="creator_name">Creator Name</label>
                    <input class="form-control" type="text" name="creator_name" id="creator_name"/>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="creator_type">Creator Type</label>
                    <div class="input-group select-group">
                        <input class="form-control" name="creator_type" id="creator_type" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                        <select id="sel-creator-type" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                            onchange="var textbox = document.getElementById('creator_type'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                            onclick="this.selectedIndex = -1;">
                            <% let opt=''; %>
                            <% if(dropdownData) { %>
                                <% for ( const el of dropdownData.creatorType ) { %>
                                    <option value="<%= el %>"><%= el %></option>
                                    <% }} %>  
                        </select>
                    </div>    
                </div>
            </div>
       
            <label class="form-label" for="cover_img">Image Link</label>
            <input class="form-control" type="textarea" name="cover_img" id="cover_img"/>
            <label class="form-label" for="cover_alt">Image Alt Description</label>
            <input class="form-control" type="text" name="cover_alt" id="cover_alt"/>
            
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label" for="format">Format</label>
                    <div class="input-group select-group">
                        <input class="form-control" name="format" id="format" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                        <select id="sel-format" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                            onchange="var textbox = document.getElementById('format'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                            onclick="this.selectedIndex = -1;">
                            <% opt=''; %>
                            <% if(dropdownData) { %>
                                <% for ( const el of dropdownData.format ) { %>
                                    <option value="<%= el %>"><%= el %></option>
                                    <% }} %>  
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="location">location</label>
                    <div class="input-group select-group">
                        <input class="form-control" name="location" id="location" autocomplete="off" onkeypress="if (event.keyCode == 13) return false;" />
                        <select id="sel-location" class="form-control input-group-addon btn bg-ilib-primary text-ilib-primary"
                            onchange="var textbox = document.getElementById('location'); textbox.value = (this.selectedIndex == -1 ? '' : this.options[this.selectedIndex].value); textbox.select(); textbox.dispatchEvent(new Event('change'));"
                            onclick="this.selectedIndex = -1;">
                            <% opt=''; %>
                            <% if(dropdownData) { %>
                                <% for ( const el of dropdownData.location ) { %>
                                    <option value="<%= el %>"><%= el %></option>
                                    <% }} %>  
                        </select>
                    </div>
                </div>
            </div>
            <label class="form-label" for="tags">Tags<span><small>   (separate with ", ")</small></span> </label>
            <input class="form-control" type="text" name="tags" id="tags"/>
            <label class="form-label" for="desc">Description</label>
            <input class="form-control" type="textarea" name="desc" id="desc"/>
            <br>
            <input class="btn bg-ilib-primary text-ilib-primary" type="submit" value="Submit"/>
        </form>
    </div>
</div>
<%- include ('../partials/foot.ejs') %> 
